
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-size: 16px;
    font-family: Roboto ,Arial ,sans-serif;
  }
  
  :root {
    --primary-color: #161614;
    --secondary-color: #b88210;
    --accent1-color: #0077B6;
    --accent2-color: #03045E;
  
    --heading-font: '______', serif;
    --paragraph-font: '______', serif;
  
    --nav-background-color: #61a2d8;
    --nav-link-color: #3064a7;
    --nav-hover-link-color: #2c6bb3;
    --nav-hover-background-color: #fff;
  }