@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap'); 
* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}
body{
  padding:1px ;
  margin: 1px;
}

header{
  margin: 1rem auto;
  display: flex;
  grid-template-columns: 340px 9fr 5fr;
  align-items: center;
  background-color:#38a3a5;
  padding: 0.5rem;
  max-width: 940px;
  margin-left: 13%;
  border: 1px solid#000;
  justify-content: space-between;
 
}
:root{
  color: #0c0c0c;
}

nav {
	flex: 2 2 100%;
}
nav {
  
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav {
	display: flex;
	list-style: none;
  color: #040505;

}
nav a{
  padding: 20px 30px;
  border-radius: 20px;
  color: #C9F1FD;
  
}

 article img {
  display: flex;
  max-width: 400px;
  max-height: 250px;
  float: right;
  border: #282929;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: dotted;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; 
}

  body{
    font-size: 16px;
    font-family: Roboto ,Arial ,sans-serif;
  
  }
  
  figure img {
   
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin:5% auto;
    position: relative;
    border-radius: .5vmin;
    float:left;
    margin-left: 3%;
  }
  
  
  figcaption {
  
    display: flex;
    color: #fff;
    text-align: center;
  }
  
  
   h1{
    font-size: 2rem;
    background:rgba(12, 12, 12, 0.4);
    position: absolute;
    background-position: center center;
    width: 100%;
    padding: 25px;
    color: rgb(250, 248, 248);
    top: 4%;
    left: 0%;
    right: 3%;
    text-align: center;
   }
  

  section h3{
    
    display:block;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-family: Acme, Arial, sans-serif;
    
  }
  article {
    position: absolute;
    display: flex;
    height: 250px;
    padding:25px;
    justify-content: center;
    font-size: 15px;
    top:30%;
    left: 10%;
    text-align: center;
    color: aliceblue;

  }
  article img{
   max-width: 20%;
   max-height: 85%;
   float: right;
   margin: 1%;
  }
  .Happy{
    text-align: center;
    background-color: rgba(58, 75, 119, 0.4);
  }
  
  .Happy img{
    width: 150%;
    height: 60%;
    float: right;
  }

  .conteneder{
    text-align: center;
    background-color: #43aa8b;
    height: 50%;
    width: 100%;
    align-items: center;
    border: #040505;
    font-size: 100%; ;
   
  }
  .conteneder img{
    font-family: 'Times New Roman', Times, serif;
    width: 350px;
    border: #040505;
    
  }


.hero {
display: block;
position:relative;
width:100%;
height: auto;
margin: 2%;

}
.hero img {
display: block;
position: relative;
width: 100%;
height: auto;
border: 2px solid rgb(3, 3, 3);
margin: 3px;
}
 
footer p{
  text-align: center;
  background-color: #219ebc;
  align-items: center;
  text-align: center;

 
}
footer{
  
  margin-top: 15px;
  float: right;
 
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #219ebc;
  margin-right: 13%;
  max-width: 940px;

  
}


* {
  margin: 1px;
  padding: 1px;
  box-sizing: border-box;
}

body {
  font-family: Merriweather, Georgia, serif;
  font-size: 1.2em;
  color: #333;
  background: #fff;
  margin: 1px;
}

  h1 {
  margin: 1rem;
  font-size: 1.5em;
  color:navy;
  text-align: center;
}
h2{
  color: navy;
  text-align: center;
  margin: 2rem;
  background-color: #fff;
  border-radius: 10px;
  
}
h3{
  color: navy;
  text-align: center;
  
}

form {
  width: 650px;
  margin: 0 auto ;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #91E4FB;
  display: grid;  
}

.form-item {
  display: flex;
  position: relative;
  flex-direction: column;
}
fieldset {
  display: grid;
  grid-gap: .5rem;
  margin: 1rem;
  border:1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;

}

header img{
  max-width: 100px;

}


nav {
  flex: 2 2 100%;
}

nav {
  
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav {
  display: flex;
  list-style: none;
  color: #040505;
}
nav a{
  padding: 0.5rem;
  color: #0f0f0f;
}
nav a {
  font-family: roboto,Arial,sans-serif;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: #0f0f0f; 
  float: right;

} 

label, input {
font-family: Roboto, Arial, sans-serif;
margin: 5px;   
}

label {
  text-align: left;
  padding-right: 1rem;
}

input, select, textarea {
  padding: 0.5rem;
  font-size: 1.1rem;
  
}


input[type="checkbox"] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  
} 
input[type="radio"] {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  
}
  

button {
  margin: 1rem;
  background-color: navy;
  color: #91E4FB;
  border: none;
  border-radius: .5rem;
  padding: .75rem;
  font-size: 1.2rem;
  text-align: center;
  width: 98%;
}

button:hover {
  background-color: darkgreen;
} 


footer img{
float: right;

}


.column2 {
  grid-template-columns: 1fr 2fr;
  display: flex;
  flex-direction: column;
  position: relative;
 
}

figure{
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin:3px auto;
  position: relative;
  border-radius: .5vmin;
  float:left;
  margin-left: 3%;
  align-items: center;
  border: #000;
  
}

 
  figcaption {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #222;
  text-align: center;
  border: #040505;

}
figure img {
   
  display: flex;
  flex-flow: column;
  padding: 5px;
  max-width: 220px;
  margin:5% auto;
  position: relative;
  border-radius: .5vmin;
  float:left;
  margin-left: 3%;
  border: #000;
}


.contact{
background-color: #C9F1FD;
max-width: 940px;
text-align: center;
margin-left: 13%;

}

.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.Value{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.gaps{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
  border: #040505;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	
	cursor: default;
}
.gaps:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.gaps img{
	width: 300px;
	height: 200px;
  margin-left: 18%;
}
.gaps .contenido-card{
	padding: 15px;
	text-align: center;
}
.gaps .contenido-card h3{
	margin-bottom: 15px;
	color: #000000;
}
.gaps .contenido-card p{
	line-height: 1.8;
	color: #070606;
	font-size: 14px;
	margin-bottom: 5px;
}
.gaps .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	
	border-radius: 4px;
	
	margin-bottom: 5px;
}
.gaps .contenido-card a:hover{
	
	color: #fff;
}


table {
  
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(3, 3, 3);
  font:16px "Open Sans",Helvetica,Arial,sans-serif;
  max-height: 1000px;
  max-width: 940px;
  margin-left: 8%;
  padding: 40px 40px;
}

caption {
  caption-side: bottom;
  
  padding: 10px;
  font-weight: bold;
  border: 2px solid rgb(3, 3, 3);
  
}

th,
td {
  border: 1px solid rgb(260 260 160);
  padding: 20px 20px 20px;
  border: 2px solid rgb(3, 3, 3);
  background-color: rgb(237 238 242);
}

th {
  vertical-align: bottom;
}
thead > tr {
  background-color: rgb(228 240 245);
  max-width: 840px;

}

thead > tr:nth-of-type(2) {
  border-bottom: 2px solid rgb(140 140 140);
}

thead > tr:last-of-type > th:nth-of-type(1) {
  background-color: rgb(225, 225, 225);
}

thead > tr:last-of-type > th:nth-of-type(2) {
  background-color: rgb(225 238 244);
}

tbody > tr > th:first-of-type {
  text-align: left;
  background-color: rgb(225 238 244);
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}
tbody > tr > td:last-of-type {
  text-align: center;
  
}


tfoot > tr {
  border-top: 2px dashed rgb(140 140 140);
  background-color:rgb(228 240 245);
}
.trade  a {
  background-color: #fffbfb;
  max-width: 20%;
  padding: 20px 28px;
  border-radius: 10px;
  float: right ;
  text-decoration: none;
  margin-left: 80%;
  color: #000;

}
.trade p  {
  margin-left: 80%;
  float: right;

}
.trade  p {
  margin: right;
  margin-top: 3%;
  color: #fffefe;
}

.Trip{
  background-color: #006d77;
  border: 2px solid rgb(3, 3, 3);
  margin: 5%;
}
.Favi{
  background-color: #006d77;
  border: 2px solid rgb(3, 3, 3);
  max-width: 80%;
  margin-left: 10%;
}
.Level form{
  float: left;
  max-width: 300px;
  margin: 1.5%;
  max-height: 900px;
  border: 2px solid rgb(3, 3, 3);

}
 .Alt {
background-color: navy;
color: #fff;
max-width: 20%;
text-decoration: none;
border-radius: 20px;
padding: 15px;
margin: 1.5%;
 }
 
 .Alt a{
  text-decoration: none;
  color: #fff;
 }
  
  
.grid{
    margin: 2px;
   background-color: #edede9;
    max-width: 940px;
    margin-left: 30%;
    border: 2px solid rgba(3 , 3, 3);
    
 }
   .grid img{
    margin: 3%;
    max-height: 240px;
    border: 2px solid rgba(3 , 3, 3);
    
      
   }
   .grid p{
    max-width: 400px;
    float: right;
    top: 3%;
    
    
   }